{% extends "base.html" %} {% block content %}
<h1>Éducation</h1></br>
        <h2>Formation</h2>
        <!-- Diginamic -->
        <div class="experiencecontainer">
            <div class="experiencedate">
                <h2>2024</br><strong>2023</strong></h2>
            </div>
            <div class="experiencecontenu">
                <h3>Concepteur développeur d'application Python bac +3 - Diginamic</h3>
                <p>Développement back-end : Python , Framework Django <br>
                    Développement front-end : Javascript , Framework AngularJS <br>
                    Conception UML. Data: Hadoop , Spark.</p>
            </div>
        </div>
        <!-- CELSA -->
        <div class="experiencecontainer">
            <div class="experiencedate">
                <h2>2018</br><strong>2016</strong></h2>
            </div>
            <div class="experiencecontenu">
                <h3>Master en Gestion de la Communication, CELSA</h3>
                <p>Master en communication, marketing, communication digitale, sémiologie, formation médias,
                    planification stratégique, RH, culture générale</br>
                    CELSA: 1er au classement 2018 des meilleures écoles de communication (La Réclame)</p>
            </div>
        </div>

        <!-- SORBONNE -->
        <div class="experiencecontainer">
            <div class="experiencedate">
                <h2>2021</br><strong>2019</strong></h2>
            </div>
            <div class="experiencecontenu">
                <h3>Master en Gestion et Administration, Sorbonne Paris IV</h3>
                <p>Le Master en Gestion et Administration à la Sorbonne Paris IV est un programme d'études supérieures
                    axé sur la gestion et l'administration des entreprises. Il offre aux étudiants une solide
                    formation dans les domaines clés de la gestion, tels que la finance, le marketing, les ressources
                    humaines et la stratégie d'entreprise.</p>
            </div>
        </div>

        <h2>Certificats</h2>
<div class="row">
    {% for certificat in certificats %}
    <div class="certificatbloc col-5 col-md-4 m-4 p-2">

        <div class="h2">{{ certificat.titre }}</div> 
        <div class="certificatannee">{{ certificat.annee }}</div>
        <div class="certificatformateur">{{ certificat.formateur }}</div>
        
    </div>        {% endfor %}

</div>


{% endblock %}
