{% extends "base.html" %} {% block content %} 
<h1>Expérience</h1></br>
<!-- Le Meon -->
<div class="experiencecontainer">
	<div class="experiencedate">
		<h2>2023</br><strong>2021</strong></h2>
	</div>
	<div class="experiencecontenu">
		<h3>Développeur Freelance</h3>
		<p>Php | Html | Css | MySql | Git | Dart</br>
			Développement front et backend de sites internet avec le CMS Wordpress <br>
Création et développement d’applications mobiles <br>
Déploiement d’un serveur Almalinux</p>
	</div>
</div>

<!-- HG -->
<div class="experiencecontainer">
	<div class="experiencedate">
		<h2>2023</br><strong>2021</strong></h2>
	</div>
	<div class="experiencecontenu">
		<h3>CONSEIL DÉPARTEMENTAL DE LA HAUTE-GARONNE</h3>
		<p>Responsable des Médias – Département de la Communication / Toulouse</br>
			Équipe de 8 : Magazine, webmagazine, réseaux sociaux, sites web, photographes…</p>
	</div>
</div>

<!-- Couleur Citron -->
<div class="experiencecontainer">
	<div class="experiencedate">
		<h2>2021</br><strong>2019</strong></h2>
	</div>
	<div class="experiencecontenu">
		<h3>COULEUR CITRON – agence de communication</h3>
		<p>GROUPE CLEVER AGE</br>
			clients : Krys, emlyon, Jeff de Bruges, Bridgestone, Autobacs, Prixtel, Infosec, Autobacs, Stellium, CLS, Latécoère</p>
	</div>
</div>
<!-- Inconito -->
<div class="experiencecontainer">
	<div class="experiencedate">
		<h2>2019</br><strong>2017</strong></h2>
	</div>
	<div class="experiencecontenu">
		<h3>INCONITO – agence de communication</h3>
		<p>Chef de Projet Digital Senior / Toulouse</br>
			gestion de projets / budget et planning pour l’unité digitale / développement</br>
			clients : Cité des Électriciens | ANCCLI – IRSN | Midica | Musée National Marine | Cité de l’Architecture et du Patrimoine | Hemotech | Zapetti | Jazz à Vienne | Musée de l’Eau et de la Méditerranée | Viaduc de Millau</p>
	</div>
</div>
<!-- Linkfluence -->
<div class="experiencecontainer">
	<div class="experiencedate">
		<h2>2017</br></h2>
	</div>
	<div class="experiencecontenu">
		<h3>LINKFLUENCE – Écoute sociale</h3>
		<p>Responsable de la Communication / Paris</br>
			gestion de projets : management du projet de nouveau site web,</br>
			gestion d'événements : organisation de salons, keynotes et ateliers
			gestion de contenu : création de ligne éditoriale ; community management, rédaction d'articles de blog.</p>
	</div>
</div>
<!-- GAH -->
<div class="experiencecontainer">
	<div class="experiencedate">
		<h2>2015</br><strong>2010</strong></h2>
	</div>
	<div class="experiencecontenu">
		<h3>G.A.H. MANAGEMENT – agence de gestion & communication</h3>
		<p>Fondateur et Gérant / 25 artistes / Paris</br>
			création et gestion de la société.</br>
			gestion d'équipe selon les événements.
			communication événementielle, et développement de stratégies de communication et formation média pour les artistes
			support aux artistes : négociations, relations publiques,
			création et production d'événements et spectacles ; création de salons BtoB</p>
	</div>
</div>
 <!-- cultureComm -->
 <div class="experiencecontainer">
	<div class="experiencedate">
		<h2>2010</br><strong>2008</strong></h2>
	</div>
	<div class="experiencecontenu">
		<h3>CULTURE COMM – agence de communication</h3>
		<p>Fondateur et Gérant / 25 artistes / Paris</br>
			création et gestion de la société.</br>
			gestion d'équipe selon les événements.
			communication événementielle, et développement de stratégies de communication et formation média pour les artistes
			support aux artistes : négociations, relations publiques,
			création et production d'événements et spectacles ; création de salons BtoB</p>
	</div>
</div>



{% endblock %}
