{% extends "base.html" %} {% block content %}
<div class="breadcrumb">
	<a href="{% url 'home' %}">Accueil </a> &gt;
	<a href="{% url 'list_articles' %}"> Articles </a> &gt;
	<span> {{ article.titre }}</span>
</div>
<div class="single-post-container">
	<div class="post-content">
		<h1 class="post-title">{{ article.titre }}</h1>
		<p class="post-date">
			Le {{ article.date|date:"d F Y" }} | {% for l in article.langage.all %}
			<span class="langages badge bg-article">{{ l }}</span>
			{% endfor %}
		</p>
		<div class="post-description">{{ article.description|safe }}</div>
		<div class="article-navigation">
			{% if prev_article %}
			<div class="nav-card">
				<a href="/articles/{{ prev_article.slug }}">
					<span class="nav-arrow">&larr;</span>
					<span class="nav-title">{{ prev_article.titre }}</span>
				</a>
			</div>
			{% endif %} {% if next_article %}
			<div class="nav-card">
				<a href="/articles/{{ next_article.slug }}">
					<span class="nav-title">{{ next_article.titre }}</span>
					<span class="nav-arrow">&rarr;</span>
				</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
